<p style="color: green"><%= notice %></p>

<%= render @expression %>

<div>
  <%= link_to "Edit this expression", edit_expression_path(@expression) %> |
  <%= link_to "Back to expressions", expressions_path %>

  <%= button_to "Destroy this expression", @expression, method: :delete %>
</div>
